.noWords {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #E5E5E5;
}
