.table {

    td { vertical-align: top; }

    td:first-child {
        padding-right: 10px;
        font-weight: bold;
    }
}

.pre {
    white-space: pre-wrap;     /* Preserves newlines and wraps text */
    word-wrap: break-word;     /* Breaks long words if needed */
    overflow-wrap: break-word; /* Ensures compatibility */
    line-height: 2;
}
